body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    overflow-x: hidden; /* Evita el scroll horizontal */
    background: rgb(255, 255, 255);
    height: 100%; /* Ajusta la altura al 100% */
    overflow-y: auto; /* Permite el scroll vertical cuando sea necesario */
}
