<div class="container mt-4">
  <div class="text-center mb-4">
    <button type="button" class="btn btn-primary" routerLink="/addcorte">Nuevo corte</button>
  </div>

  <h2 class="text-center">Buscar Corte por Fecha</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
      <input type="date" class="form-control" [(ngModel)]="selectedDate" name="selectedDate">
      <button class="btn btn-primary" type="submit">Buscar</button>
    </div>
  </form>

  <div *ngIf="cortes.length > 0">
    <h3 class="text-center">Cortes para {{ selectedDate }}</h3>
    <div *ngFor="let corte of cortes" class="card mb-3">
      <div class="card-header">
        Corte ID: {{ corte.id }} - Fecha: {{ corte.fecha }} - Responsable: {{ corte.nombre }} - Número de caja: {{ corte.numeroCaja }}
      </div>
      <div class="card-body">
        <!-- Otros detalles de corte -->

        <h4>Pedidos en Tránsito</h4>
        <ul>
          <li *ngFor="let pedido of corte.pedidosTransitos" class="mb-2">
            Monto: {{ pedido.monto }} - Descripción: {{ pedido.descripcion }} - Estatus:
            <input type="text" [(ngModel)]="pedido.estatus" class="form-control"
              *ngIf="pedido.id !== undefined && corte.id !== undefined && pedido.estatus !== undefined"
              (keyup.enter)="actualizarEstadoPedido(corte.id!, pedido, pedido.estatus)">
            <button class="btn btn-primary btn-sm ml-2" (click)="actualizarEstadoPedido(corte.id!, pedido, pedido.estatus!)">Guardar</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
