/* Estilos para las tarjetas */
.card-header {
    background-color: #266bb6;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .input-group-text-small {
    width: auto; /* Ajusta automáticamente al contenido */
    padding: 0.375rem 0.75rem; /* Ajusta el relleno si es necesario */
    font-size: 0.875rem; /* Reduce el tamaño de la fuente */
  }
  
  /* Estilos para los botones */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #218838;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }

  /* Animaciones para los inputs */
  .input-group-text,
  .form-control {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .form-control:focus {
    background-color: #e9f7ff;
    border-color: #2f5b8a;
    color: #244b75;
  }
  
  .input-group-text {
    width: 105px;
  }
  
  input[type="number"],
  input[type="text"] {
    max-width: 150px;
    transition: transform 0.3s ease;
  }
  
  input[type="number"]:hover,
  input[type="text"]:hover {
    transform: scale(1.05);
  }
  
  .card-body {
    padding: 15px;
  }
  
  /* Animación para el formulario */
  form {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  