<app-progress-bar *ngIf="loading"></app-progress-bar>
<app-navbar></app-navbar>
<app-clientes></app-clientes>


<div *ngIf="!loading" class="container">
  <div class="title d-flex justify-content-between align-items-center">
    <h2>ORDENES</h2>
    <button type="button" class="btn btn-danger" routerLink="/add">Orden rápida</button>
  </div>

  <div class="table-responsive" #ordersContainer>

    <table *ngIf="listOrder.length > 0" class="table table-hover table-primary">
      <thead>
        <tr>
          <th scope="col">N.</th>
          <th scope="col">Hora</th>
          <th scope="col">Caja</th>
          <th scope="col">Cliente</th>
          <th scope="col">Dirección</th>
          <th scope="col">Total</th>
          <th scope="col">Transferencia</th>
          <th scope="col">Efectivo</th>
          <th scope="col">Repartidor</th>
          <th scope="col">Servicio</th>
          <th scope="col">Monto Servicio</th>
          <th scope="col">Items</th>
          <th scope="col">Estatus</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listOrder" class="table-light">
          <td>{{ item.numerOrden }}</td>
          <td>{{ item.createdAt ? (item.createdAt | date: 'short') : 'N/A' }}</td>
         <td [ngClass]="getCajaClass(item.numeroCaja)">{{ item.numeroCaja }}</td>

          <td>{{ item.nameClient }}</td>
          <td>{{ item.direction }}</td>
          <td>{{ item.montoCompra | currency }}</td>
          <td>{{ item.transferenciaPay | currency }}</td>
          <td>{{ item.efectivo | currency }}</td>
          <td>
            <input 
              type="text" 
              class="form-control" 
              placeholder="{{ item.nameDelivery }}"
              id="repartidor"
              (blur)="updateRepartidor(item.id, getInputValue($event))"
              *ngIf="item.id !== undefined">
          </td>
          <td>{{ item.recharge}}</td>
          <td *ngIf="item.montoServicio">{{ item.montoServicio | currency }}</td>
          <td *ngIf="!item.montoServicio">N/A</td>
          <td>{{item.itemOrder}}</td>
          <td>
            <input 
              type="text" 
              class="form-control" 
              placeholder="{{ item.status }}"
              id="status"
              (blur)="updateEstadoPedido(item.id, getInputValue($event))"
              *ngIf="item.id !== undefined">
          </td>
          <td>
            <td>
              <button type="button" class="btn btn-info btn-sm" [routerLink]="['/edit', item.id]">Edit</button>
            </td>
        </tr>
      </tbody>
    </table>
    <h5 *ngIf="listOrder.length == 0" class="text-center">No hay órdenes</h5>
  </div>
  <!-- Botón de scroll hacia abajo -->
  <button (click)="scrollToLastOrder()" class="scroll-down-btn btn btn-primary">
    <i class="fas fa-arrow-down"></i>
  </button>
</div>





<div id="authModal" class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Autenticación requerida</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="username">Usuario</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="authCredentials.username">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="authCredentials.password">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="authenticate()">Aceptar</button>
        <button type="button" class="btn btn-secondary" (click)="closeAuthModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
