<div class="container">
  <h2>Buscar Cliente</h2>
  <form [formGroup]="searchForm" (ngSubmit)="searchClient()" class="mb-4">
    <div class="input-group">
      <input type="text" id="query" formControlName="query" class="form-control" placeholder="Buscar por nombre o teléfono">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </form>

  <div *ngIf="foundClient" class="card p-3 mb-4" style="border: 1px solid #ccc;">
    <h3>Cliente encontrado:</h3>
    <p><strong>Nombre:</strong> {{ foundClient.nombre }}</p>
    <p><strong>Apellido:</strong> {{ foundClient.apellido }}</p>
    <p><strong>Dirección:</strong> {{ foundClient.direction }}</p>
    <button class="btn btn-success" (click)="goToAddOrder()">Agregar Orden</button>
  </div>

  <div *ngIf="isNewClient" class="card p-3" style="border: 1px solid #ccc;">
    <h3>Agregar Nuevo Cliente:</h3>
    <form [formGroup]="newClientForm" (ngSubmit)="addNewClient()">
      <div class="form-group">
        <input type="text" id="newName" formControlName="nombre" class="form-control mb-2" placeholder="Nombre" required>
        <input type="text" id="newApellido" formControlName="apellido" class="form-control mb-2" placeholder="Apellido" required>
        <input type="text" id="newDirection" formControlName="direction" class="form-control mb-2" placeholder="Dirección" required>
      </div>
      <button type="submit" class="btn btn-primary">Agregar Cliente</button>
    </form>
  </div>
</div>
