<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card bg-default mb-3" style="max-width: 25rem;">
            <div class="card-header text-center">{{ operacion }} orden</div>
            <div class="card-body">
                <div class="form">
                    <form [formGroup]="form" (ngSubmit)="addOrden()">
                        <fieldset>
                          
                            <div>
                              <label for="numeroCaja" class="form-label mt-2">Caja</label>
                              <input formControlName="numeroCaja" type="text" class="form-control" id="numeroCaja" aria-describedby="emailHelp" placeholder="Numero de caja">
                              <span *ngIf="form.get('numeroCaja')?.hasError('required')&& form.get('numeroCaja')?.touched">
                                El campo es <strong>requerido</strong>
                            </span>
                            </div>
                            <div>
                                <label for="client" class="form-label mt-2">Cliente</label>
                                <input formControlName="nameClient" type="text" class="form-control" id="nameClient" aria-describedby="emailHelp" placeholder="Nombre del cliente">
                                <span *ngIf="form.get('nameClient')?.hasError('required')&& form.get('nameClient')?.touched">
                                    El campo es <strong>requerido</strong>
                                </span>
                              </div>
                            <div>
                              <label for="client" class="form-label mt-2">Dirección</label>
                              <input formControlName="direction" type="text" class="form-control" id="direction" aria-describedby="emailHelp" placeholder="Dirección">
                              <span *ngIf="form.get('direction')?.hasError('required')&& form.get('direction')?.touched">
                                El campo es <strong>requerido</strong>
                            </span>
                            </div>
                            <div>
                              <label for="client" class="form-label mt-2">Monto compra</label>
                              <input formControlName="montoCompra" type="text" class="form-control" id="montoCompra" aria-describedby="emailHelp" placeholder="Monto de compra">
                              <span *ngIf="form.get('montoCompra')?.hasError('required')&& form.get('montoCompra')?.touched">
                                El campo es <strong>requerido</strong>
                            </span>
                            </div>
                            <div>
                              <label for="client" class="form-label mt-2">Efectivo</label>
                              <input formControlName="efectivo" type="text" class="form-control" id="efectivo" aria-describedby="emailHelp" placeholder="Cuanto paga en efectivo">
                              <span *ngIf="form.get('efectivo')?.hasError('required')&& form.get('efectivo')?.touched">
                                El campo es <strong>requerido</strong>
                            </span>
                            </div>
                            <div>
                                <label for="client" class="form-label mt-2">Transferencia</label>
                                <input formControlName="transferenciaPay" type="text" class="form-control" id="transferenciaPay" aria-describedby="emailHelp" placeholder="Cuanto paga transferencia">
                                <span *ngIf="form.get('transferenciaPay')?.hasError('required')&& form.get('transferenciaPay')?.touched">
                                    El campo es <strong>requerido</strong>
                                </span>
                            </div>
                            <div>
                              <label for="recharge" class="form-label mt-2">Servicio</label>
                              <select formControlName="recharge" id="recharge" class="form-control" (change)="onServiceTypeChange($event)">
                                <option value="">Ninguno</option>
                                <option value="Retiro en efectivo">Retiro en efectivo</option>
                                <option value="Recarga">Recarga</option>
                                
                              </select>
                            </div>
                            
                            <!-- Monto de Servicio, que solo se muestra si se selecciona un servicio -->
                            <div *ngIf="form.get('recharge')?.value !== ''">
                              <label for="montoServicio" class="form-label mt-2">Monto de Servicio</label>
                              <input formControlName="montoServicio" type="number" class="form-control" id="montoServicio" placeholder="Monto del servicio">
                              <span *ngIf="form.get('montoServicio')?.hasError('required') && form.get('montoServicio')?.touched">
                                El campo es <strong>requerido</strong>
                              </span>
                            </div>

                           <!-- FormArray para agregar bebidas dinámicamente -->
                           <div>
<hr>
                            <div formArrayName="bebidas">
                              <div *ngFor="let bebida of bebidas.controls; let i = index">
                                <div [formGroupName]="i" class="mb-2">
                                  <select formControlName="nombre" class="form-control" (change)="onBebidaChange(i)">
                                    <option value="">Ninguno</option>
                                    <option value="Env. RCoca">Env. RCoca</option>
                                    <option value="Env. RPepsi">Env. RPepsi</option>
                                    <option value="Env. Cristal 20l">Env. Cristal 20l</option>
                                    <option value="Env. Agua relle">Env. Agua relle</option>
                                    <option value="Env. Cerveza">Env. Cerveza</option>
                                  </select>
                                  <div *ngIf="bebida.get('nombre')?.value !== ''">
                                    <label for="cantidad" class="form-label mt-1" >Cantidad</label>
                                    <input formControlName="cantidad" type="number" class="form-control" placeholder="Cantidad">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <button type="button" class="btn btn-secondary mt-2" (click)="agregarBebida()">Agregar Items</button>
                          </div>

                            
                            
                            
                            
                              <div class="row mt-2 text-center">
                                <div class="col-lg-6">
                                    <button [disabled]="form.invalid" type="submit" class="btn btn-primary"> {{ operacion }}</button>
                                  </div>
                                  <div class="col-lg-6">
                                    <button routerLink="/list-orders" type="submit" class="btn btn-secondary">Regresar</button>
                                  </div>
                              </div>
                            </fieldset>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
